*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

#table{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 2px;
    justify-content: center;
}

.square{
    width: 5rem;
    height: 5rem;
    background-color: brown;
    display: grid;
    align-content: center;
}

.x:after{
    font-size: 30px;
    content: "\274C";
}

.o:after{
    font-size: 30px;
    content: "\2B55";
}

#placar{
    align-items: center;
    align-content: center;
    margin: 20px auto;
    width: 15rem;
    background-color: brown;
    display: grid;
    grid-template-areas:    "a1 a2 a3"
                            "a4 a2 a5";
}

#player1{
    grid-area: a1;
}
#player2{
    grid-area: a3;
}
#versus{
    font-size: 25px;
    grid-area: a2;
}
#placar1{
    grid-area: a4;
}
#placar2{
    grid-area: a5;
}
.placar{
    font-size: 12px;
}